@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "DosStory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "DosStory", monospace;
  background: #0f0f0f;
  color: #fff;
  -webkit-font-smoothing: none;
}

.pixel-box {
  border: 4px solid #000;
  background: #1e1e1e;
  box-shadow: 6px 6px 0 #000;
}

.pixel-button {
  border: 4px solid #000;
  background: #facc15;
  color: #000;
  padding: 0.5rem 1rem;
  box-shadow: 4px 4px 0 #000;
}

.pixel-button:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.pixel-input {
  border: 4px solid #000;
  background: #000;
  color: #00ff66;
  padding: 0.5rem;
}

